:root {
    --white-color: #FFFFFF;
    --light-grey-color: #F8F8F8;
    --tab-grey-color: #EDEDED;
    --grey-color: #D4D4D4;
    --light-blue-color: #86B5FB;
    --lavender-color: #A56FFD;
    --blue-color: #5B7FFF;
    --red-color: #FF6565;
    --green-color: #32CB5D;
    --dark-blue-color: #032465;
    --black-color: #010217;
    --promo-color: #FFEB81;
    --dark-grey-color: #8A8A8A;
}
